schemas/tei_woposs_metadata.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en"
    xmlns:sch="http://purl.oclc.org/dsdl/schematron">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI WoPoss: schema for corpus metadata</title>
                <author>Helena Bermúdez Sabel</author>
                <principal>Francesca Dell’Oro</principal>
                <funder>Swiss National Science Foundation</funder>
            </titleStmt>
            <publicationStmt>
                <distributor>Institut des sciences du langage (University of Neuchâtel)</distributor>
                <availability status="free">
                    <licence target="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons
                        BY-NC</licence>
                </availability>
                <date>2022</date>
            </publicationStmt>
            <notesStmt>
                <note type="ns">https://woposs.unine.ch/</note>
            </notesStmt>
            <sourceDesc>
                <p>Written from scratch.</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <head>TEI WoPoss</head>
            <p>TEI schema for validating a file that contains the annotated list of works with metadata about their authors.</p>
            <schemaSpec ident="tei_woposs" start="TEI teiCorpus">
                <moduleRef n="01" key="tei"/>
                <moduleRef n="02" key="header"/>
                <moduleRef n="03" key="core"/>
                <moduleRef n="04" key="textstructure"/>
                <moduleRef n="17" key="analysis"/>
                <moduleRef n="13" key="namesdates"/>
                <moduleRef n="16" key="linking"/>
                <moduleRef n="21" key="certainty"/>              
                
                <elementSpec ident="bibl" module="core" mode="change">
                    <constraintSpec scheme="schematron" ident="bibl_core">
                        <constraint>
                            <sch:rule context="tei:bibl">
                                <sch:let name="taxonomies" value="ancestor::tei:TEI/descendant::tei:taxonomy"></sch:let>
                                <sch:assert test="count(tei:index) eq count($taxonomies)">Missing index</sch:assert>
                                <sch:assert test="tei:index[@indexName = $taxonomies/@xml:id]">Index name does not belong to any known taxonomies</sch:assert>        
                                <sch:assert test="tei:date/@type = 'century'">Each work must at least have a century</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>
                </elementSpec>                                
                <elementSpec ident="term" module="core" mode="change">
                    <constraintSpec scheme="schematron" ident="term_core">
                        <constraint>
                            <sch:rule context="tei:term[not(@ref)]">
                                <sch:assert test="substring(@cRef, 2) = ancestor::tei:TEI/descendant::tei:taxonomy[@xml:id eq current()/parent::tei:index/@indexName]/tei:category/@xml:id">URI does not correspond to a 
                                category in the declared taxonomy</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>
